*
{
	margin: 0 auto 0 auto;
	text-align:left;
}

body
{
	margin:0;
	padding:0;
	text-align:left;
	font-size:14px;
	font-family:arial;
	color:#000000;
	background-color:#1c478e;
	background-image:url(../Images/background.png);
	background-repeat:repeat-x
}

a
{
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
}

h3
{
	font-size:15px;
	font-weight:bold;
	padding-bottom:7px;
	color:#1c478e;
}

h2
{
	padding-bottom:10px;
}

p
{
	margin:10px 0;
}

table,tr,td,th
{
	margin:0;
}

table
{
	padding:10px 0px;
}

th
{
	text-align:center;
}

td
{
	padding:5px 55px 5px 45px;
}

label
{
	display:inline-block;
	width:200px;
}

#container
{
	width:960px;
}

header
{
	width:960px;
	height:100px;
}

header h1
{
	float:left;
	color:#ffffff;
	font-size:45px;
	padding:13px 0 0 15px;
}

header h2
{
	float:right;
	padding:40px 20px 0 0;
	font-size:23px;
	color:#0080ff;
}	

header h1 span.blue-text
{
	color:#0080ff;
}

header h2 span.white-text
{
	color:#ffffff
}

aside
{
	color:#ffffff;
}

aside input[type="text"], aside input[type="email"]
{
	color:#000;
	margin-bottom:5px;
}
#displayname
{
	float:right;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	padding-right:10px;
	padding-top:5px;
}

#menu
{
	display:block;
	float:left;
	clear:both;
	width:960px;
	height:45px;
}	

#menu ul
{
	list-style:none;
	padding:0;
	margin-left:auto;
	width:960px;
}	

#menu li
{
	display:inline;
}	

#menu li a
{
	float:left;
	text-decoration:none;
	color:#ffffff;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	padding:5px 20px 10px 20px;
}	

#menu a:hover
{
	color:#67a0f5;
}

#links
{
	margin-top:12px;
	width:180px;
	float:left;
	background:#1c478e;
	border-radius:10px;
	padding:15px 15px 15px 15px;
}	

#links ul
{
	list-style:none;
	padding:0;
}

#links li
{
	padding:15px 0 8px 0;
	border-bottom:#ffffff dashed 1px;
}

#links ul li a, #links ul li a:visited 
{
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	font-size:13px;
}

#links ul li a:hover
{
	color:#87bcf8;
}

#links h3
{
	color:#ffffff;
	padding-bottom:8px;
	border-bottom:#ffffff solid 2px;
	font-size:16px;
}

section
{
	display:block;
	width:680px;
	margin-top:12px;
	float:left;
	background-color:#ffffff;
	border-radius:10px;
	border:#1c478e 5px solid;
	padding:15px;
	margin-left:15px;
	height:auto;
}	

.float
{
	float:right;
	margin:10px;
}

.developer
{
	width:170px;
	float:right;
}

.developer ul
{
	list-style:none;
	margin-bottom:10px;
	padding:0;
}

.developer li
{
	line-height:1.7em;
	font-size:12.5px;
}

table.dev-table,table.dev-table tr,table.dev-table td,table.dev-table th
{
	font-size:100%;
	font-weight:bold;
}

table.dev-table tr,table.dev-table td
{
	border-bottom:1px #000000 dashed;
}


.blue-bg
{
	background:#1c478e;
	padding:5px;
	color:#fff;
}



